<section class="about" id="about">
  <div class="container">
    <h2 class="section-title">
      Почему выбирают нас?
    </h2>

    <div class="about__grid">
      <div class="about__item">
        <p class="about__text">
          Все наши модели выходят на доход от 200$ за смену в первый месяц
        </p>
      </div>
      <div class="about__item">
        <p class="about__text">
          25 часов в неделю - распределяй как хочешь сама
        </p>
      </div>
      <div class="about__item">
        <p class="about__text">
          Платим ежедневно первые 7 дней, далее - раз в неделю
        </p>
      </div>
      <div class="about__item">
        <p class="about__text">
          Научим всему с нуля и доведем до результата
        </p>
      </div>
      <div class="about__message">
        <img loading="lazy" src="img/avatar-1.webp" class="about__svg image" width="100" height="100" alt="avatar">
        <p class="about__text about__text--mini">
          Как начать работать?
        </p>
      </div>
      <div class="about__item">
        <p class="about__text">
          Дизайнерский и стильный интерьер комнат
        </p>
      </div>

      <div class="about__message">
        <p class="about__text about__text--big">
          Запишись на собеседование, тебе расскажут и покажут весь процесс работы, если всем все понравится - начинаем!
        </p>
        <img loading="lazy" src="img/avatar-2.webp" class="about__svg image" width="100" height="100" alt="avatar">
      </div>
    </div>

    <form action="#" class="about__form">
      <input type="text" name="name" class="input-reset about__input" placeholder="Напиши имя">
      <input type="tel" name="tel" class="input-reset about__input about__tel" placeholder="+7 (999) 999-99-99">
      <button class="btn-reset btn about__btn">Отправить</button>
    </form>
  </div>
</section>
