<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="#" class="header__logo">
        <img loading="lazy" src="img/logo.svg" class="image" width="77" height="24" alt="Logo">
      </a>
      <nav class="header__nav ">
        <ul class="header__list list-reset">
          <li class="header__item"><a href="#about" class="header__link">преимущества</a></li>
          <li class="header__item"><a href="#interior" class="header__link">интерьер</a></li>
          <li class="header__item"><a href="#form" class="header__link">калькулятор</a></li>
          <li class="header__item"><a href="#questions" class="header__link">faq</a></li>
          <li class="header__item"><a href="#more" class="header__link">контакты</a></li>
        </ul>
      </nav>
      <button class="burger" title="menu button" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
      </button>
    </div>


  </div>

</header>
