<section class="interior" id="interior">
  <div class="container">
    <h2 class="section-title">
      Интерьеры нашей студии
    </h2>
    <div class="tabs" data-tabs="tab">
      <ul class="tabs__nav">
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">комнаты</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">кухня и другие помещения</button></li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="swiper interior__swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/interior-1.avif" type="image/avif">
                  <source srcset="img/interior-1.webp" type="image/webp">
                  <img loading="lazy" src="img/interior-1.png" class="image" width="500" height="500" alt="interior">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/interior-2.avif" type="image/avif">
                  <source srcset="img/interior-2.webp" type="image/webp">
                  <img loading="lazy" src="img/interior-2.png" class="image" width="500" height="500" alt="interior">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/interior-3.avif" type="image/avif">
                  <source srcset="img/interior-3.webp" type="image/webp">
                  <img loading="lazy" src="img/interior-3.png" class="image" width="500" height="500" alt="interior">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/interior-4.avif" type="image/avif">
                  <source srcset="img/interior-4.webp" type="image/webp">
                  <img loading="lazy" src="img/interior-4.png" class="image" width="500" height="500" alt="interior">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/interior-5.avif" type="image/avif">
                  <source srcset="img/interior-5.webp" type="image/webp">
                  <img loading="lazy" src="img/interior-5.png" class="image" width="500" height="500" alt="interior">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/interior-6.avif" type="image/avif">
                  <source srcset="img/interior-6.webp" type="image/webp">
                  <img loading="lazy" src="img/interior-6.png" class="image" width="500" height="500" alt="interior">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/interior-7.avif" type="image/avif">
                  <source srcset="img/interior-7.webp" type="image/webp">
                  <img loading="lazy" src="img/interior-7.png" class="image" width="500" height="500" alt="interior">
                </picture>
              </div>
            </div>
            <button class="interior__arrow-prev btn-reset"> <img loading="lazy" src="img/arrow-prev.svg" class="image"
                width="80" height="80" alt="btn-prev"></button>
            <button class="interior__arrow-next btn-reset"><img loading="lazy" src="img/arrow-next.svg" class="image"
                width="80" height="80" alt="btn-next"></button>
            <div class="interior__pag"></div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="swiper interior__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/interior-8.avif" type="image/avif">
                  <source srcset="img/interior-8.webp" type="image/webp">
                  <img loading="lazy" src="img/interior-8.png" class="image" width="500" height="500" alt="interior">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/interior-9.avif" type="image/avif">
                  <source srcset="img/interior-9.webp" type="image/webp">
                  <img loading="lazy" src="img/interior-9.png" class="image" width="500" height="500" alt="interior">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/interior-10.avif" type="image/avif">
                  <source srcset="img/interior-10.webp" type="image/webp">
                  <img loading="lazy" src="img/interior-10.png" class="image" width="500" height="500" alt="interior">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/interior-11.avif" type="image/avif">
                  <source srcset="img/interior-11.webp" type="image/webp">
                  <img loading="lazy" src="img/interior-11.png" class="image" width="500" height="500" alt="interior">
                </picture>
              </div>
            </div>
            <button class="interior__arrow-prev btn-reset"> <img loading="lazy" src="img/arrow-prev.svg" class="image"
                width="80" height="80" alt="btn-prev"></button>
            <button class="interior__arrow-next btn-reset"><img loading="lazy" src="img/arrow-next.svg" class="image"
                width="80" height="80" alt="btn-next"></button>
            <div class="interior__pag"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
