<section class="job">
  <div class="container">
    <h2 class="section-title">
      Эта работа для тебя?
    </h2>
    <div class="job__content">
      <div class="job__aside">
        <p class="job__text">
          нажми на кнопки и проверь
        </p>
      </div>
      <div class="job__inner">
        <ul class="job__list list-reset">
          <li class="job__item">
            <button id="btn1" class="job__btn btn-reset">Тебе больше 18 лет. Живешь в СПб или хочешь переехать</button>
          </li>
          <li class="job__item">
            <button id="btn2" class="job__btn btn-reset">Хочешь зарабатывать без профессионального опыта, навыков и знаний</button>
          </li>
          <li class="job__item">
            <button id="btn3" class="job__btn btn-reset">Хочешь иметь высокий доход</button>
          </li>
          <li class="job__item">
            <button id="btn4" class="job__btn btn-reset">Хочешь распределять свое время так как удобно</button>
          </li>
          <li class="job__item">
            <button id="btn5" class="job__btn btn-reset">Хочешь работать в лучшей студии СПБ рядом с метро</button>
          </li>
          <li class="job__item">
            <button id="btn6" class="job__btn btn-reset">Хочешь работать с новейшим оборудованием, полным сопровождением</button>
          </li>
          <li class="job__item">
            <button id="btn7" class="job__btn btn-reset">Хочешь работать в дружелюбном коллективе</button>
          </li>
        </ul>
        <button id="send" class="btn-reset btn" data-graph-path="modal">хочу на собеседование</button>
      </div>
    </div>
  </div>
</section>
