<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <p class="graph-modal__text">
        Заполни анкету и наши администраторы перезвонят тебе
      </p>
      <form action="#" class="graph-modal__form">
        <input type="text" name="Name" class="input-reset graph-modal__input" placeholder="Напиши имя">
        <input type="tel" name="tel" class="input-reset graph-modal__input graph-modal__tel" placeholder="+7 (999) 999-99-99">
        <input type="text" name="telegram" class="input-reset graph-modal__input graph-modal__tg" placeholder="Telegram без @">
        <select class="graph-modal__input" name="lvl" id="select" aria-placeholder="уровень английского">
          <option value="" disabled selected hidden>уровень английского</option>
          <option value="начальный">начальный</option>
          <option value="средний">средний</option>
          <option value="продвинутый">продвинутый</option>
        </select>
        <button class="btn-reset btn graph-modal__btn">Отправить</button>
      </form>
    </div>
  </div>
</div>
