<section class="more" id="more">
  <div class="container">
    <h2 class="section-title">
      Еще больше мы расскажем тебе на собеседовании
    </h2>
    <div class="more__content">
      <div class="more__wrapper more__wrapper--one">
        <p class="more__text">
          просто заполни анкету!
        </p>
      </div>

      <form action="#" class="more__form">
        <input type="text" name="Имя" class="input-reset more__input" placeholder="Напиши имя">
        <input type="tel" name="tel" class="input-reset more__input more__phone" placeholder="+7 (999) 999-99-99">
        <button class="btn-reset btn more__btn">Отправить</button>
      </form>
    </div>
    <div class="more__content more__content--two">
      <div class="more__box">
        <a href="#" class="more__tel">Telegram</a>
        <a href="#" class="more__wat">WhatsApp</a>
      </div>
      <div class=" more__wrapper more__wrapper--two">
        <p class="more__text">
          или пиши в мессенджер
        </p>
      </div>

    </div>
  </div>
</section>
