<section class="perfect">
  <div class="container">
    <div class="perfect__content">
      <div class="perfect__inner">
        <h2 class="section-title">
          Ты идеально нам подходишь?!
        </h2>
        <p class="perfect__text perfect__text--orange">
          Мы готовы оплатить тебе такси, чтобы с тобой познакомиться!
        </p>
        <p class="perfect__text">
          Обрати внимание, что это только знакомство — ты нам ничего не должна ;)
        </p>
        <button class="btn-reset btn  perfect__btn" data-graph-path="modal">вызвать такси</button>
      </div>
      <picture>
        <source srcset="img/perfect.avif" type="image/avif">
        <source srcset="img/perfect.webp" type="image/webp">
        <img loading="lazy" src="img/perfect.png" class="image" width="440" height="509" alt="perfect">
      </picture>
    </div>

  </div>
</section>
