<section class="questions" id="questions">
  <div class="container">
    <h2 class="section-title">
      У тебя еще остались вопросы?
    </h2>
    <div class="questions__content">
      <div class="questions__item">
        <div class="questions__box questions__box--beige">
          <h3 class="questions__subtitle">
            Можно ли общаться без эротики?
          </h3>
          <button class="questions__svg btn-reset">
          </button>
        </div>
        <p class="questions__text">
          Конечно! Ты спокойно можешь работать в категории «No Nude» (без обнажения). Наши модели всегда сами определяют
          для себя
          рамки дозволенного и никто не в праве их к чему-либо принуждать, тем более мы. На самом деле, огромному
          количеству
          пользователей на веб-площадках куда важнее весело провести свободное время (например, после тяжелого рабочего
          дня),
          пообщаться по душам, а иногда и рассказать свои секреты, говоря о чём-то очень личном и сокровенном. Модель
          же зачастую
          выступает в роли виртуального друга, которая может выслушать собеседника и поговорить с ним на интересные
          темы.
        </p>
      </div>
      <div class="questions__item">
        <div class="questions__box questions__box--green">
          <h3 class="questions__subtitle">
            Нужно ли знать английский язык?
          </h3>
          <button class="questions__svg btn-reset">

          </button>
        </div>
        <p class="questions__text">
          Знание английского языка будет хорошим плюсом, поможет тебе быстрее выйти в топ и больше зарабатывать, но оно
          далеко не
          обязательно, тем более на первых этапах, так как на наших компьютерах установлены переводчики, а в студии есть
          бесплатные курсы английского языка. Мы заботимся о наших моделях и хотим, чтобы они совершенствовались и росли
          вместе с
          нами.
        </p>
      </div>
      <div class="questions__item">
        <div class="questions__box questions__box--orange">
          <h3 class="questions__subtitle">
            Можно ли совмещать с учебой/работой?
          </h3>
          <button class="questions__svg btn-reset">

          </button>
        </div>
        <p class="questions__text">
          Разумеется! Студия работает 24 часа, у нас есть утренние, ночные и дневные смены, что позволяет подобрать
          удобный график
          для любой модели.
        </p>
      </div>
      <div class="questions__item">
        <div class="questions__box questions__box--brown">
          <h3 class="questions__subtitle">
            Есть ли штрафы?
          </h3>
          <button class="questions__svg btn-reset">

          </button>
        </div>
        <p class="questions__text">
          На нашей студии отсутствует штрафная система, мы работаем только с ответственными сотрудниками.
        </p>
      </div>
      <div class="questions__item">
        <div class="questions__box questions__box--green">
          <h3 class="questions__subtitle">
            У меня нет опыта. Смогу ли я работать?
          </h3>
          <button class="questions__svg btn-reset">
          </button>
        </div>
        <p class="questions__text">
          Безусловно! Можешь даже не переживать за это! Наши тренеры проведут обучение, подробно расскажут о специфике
          работы и в
          кратчайшие сроки помогут добиться самых высоких результатов. Раскроем секрет, абсолютно все модели, даже самые
          опытные,
          когда-то начинали впервые, открывая для себя модельный бизнес.
        </p>
      </div>
      <div class="questions__item">
        <div class="questions__box  questions__box--beige">
          <h3 class="questions__subtitle">
            Что, если меня кто-то узнает?
          </h3>
          <button class="questions__svg btn-reset">

          </button>
        </div>
        <p class="questions__text">
          По умолчанию блокируются все русскоговорящие страны. Для любого пользователя из России, Украины, Белоруссии
          тебя просто
          не будет на сайте.
        </p>
      </div>
    </div>
  </div>
</section>
