<section class="web-model">
  <div class="container">
    <div class="web-model__content">
      <div class="web-model__inenr">
        <h2 class="section-title">
          Чем занимается веб-модель?
        </h2>
        <div class="web-model__wrapper">
          <p class="web-model__text web-model__text--orange">
            Общается в онлайн-чате
          </p>
          <p class="web-model__text web-model__text--green">
            Создает свой уникальный образ
          </p>
        </div>
        <div class="web-model__wrapper">
          <p class="web-model__text">
            Совершенствует свой английский
          </p>
          <p class="web-model__text web-model__text--beige">
            Работает когда хочет
          </p>
        </div>
        <div class="web-model__wrapper">
          <p class="web-model__text web-model__text--pink">
            Прокачивает навыки коммуникации
          </p>
          <p class="web-model__text web-model__text--green">
            Радуется жизни
          </p>
        </div>
      </div>
      <picture>
        <source srcset="img/web-model.avif" type="image/avif">
        <source srcset="img/web-model.webp" type="image/webp">
        <img loading="lazy" src="img/web-model.png" class="image" width="343" height="514" alt="web-model">
      </picture>
    </div>

  </div>
</section>
